<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Консольний аппендер -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n}"/>
        </Console>
        <!-- Файловий аппендер -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout disableAnsi="false" pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="project.repository" level = "trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Головний логер -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
